/*!
  * Notion powered
*/

@font-face {
	font-family: MADE Evolve Sans;
	src: url(../public/fonts/made_evolve_sans.woff);
	font-style: normal;
	font-weight: normal;
  }
  
@font-face {
	font-family: MADE Evolve Sans EVO;
	src: url(../public/fonts/made_evolve_sans_EVO.woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: MADE Evolve Sans Bold;
	src: url(../public/fonts/made_evolve_sans_bold.woff);
	font-style: normal;
	font-weight: normal;
  }
  
@font-face {
	font-family: MADE Evolve Sans Bold EVO;
	src: url(../public/fonts/made_evolve_sans_bold_EVO.woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: MADE Evolve Sans Light;
	src: url(../public/fonts/made_evolve_sans_light.woff);
	font-style: normal;
	font-weight: normal;
  }
  
@font-face {
	font-family: MADE Evolve Sans Light EVO;
	src: url(../public/fonts/made_evolve_sans_light_EVO.woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: MADE Evolve Sans Thin;
	src: url(../public/fonts/made_evolve_sans_thin.woff);
	font-style: normal;
	font-weight: normal;
  }
  
@font-face {
	font-family: MADE Evolve Sans Thin EVO;
	src: url(../public/fonts/made_evolve_sans_thin_EVO.woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: MADE Evolve Medium Sans;
	src: url(../public/fonts/made_evolve_sans_medium.woff);
	font-style: normal;
	font-weight: normal;
  }
  
@font-face {
	font-family: MADE Evolve Sans Medium EVO;
	src: url(../public/fonts/made_evolve_sans_medium_EVO.woff);
	font-style: normal;
	font-weight: normal;
}

:root {
  --color-satus: #CEFF00;
  --color-satus-alt: #1a2e44;
  --bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bg-transparent: rgba(0, 0, 0, 0.2);
  --color-code: #596365;
  --color-amora: #8A4D76;
  --color-hubb: #00FF43;
  --color-whitesmoke: #F5F5F5;
  --color-pomodoro: #ff0000;
  --color-highlight: #DFFF00;
  --color-focus: #A7FC00;
  --notion-font: 'MADE Evolve Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  --notion-font-evo: 'MADE Evolve Sans EVO', 'Roboto Mono', 'Ubuntu Monospace', 'Consolas', monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-satus);
  text-decoration: underline;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--notion-font);
  overflow-x: hidden;
}

h1, 
h2, 
h3 {
  font-family: var(--notion-font-evo);
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {           
    background-color: var(--bg-color);
}
